<!DOCTYPE html>
<head>
	<style type="text/css">	
		/* banner */
		.banner {position: relative; width: 1200px; height: 314px;  margin:0 auto; padding:0; overflow: hidden;}
		.banner ul {position: absolute; margin: 0px; padding:0px;  list-style: none; }
		.banner ul li {float: left; width: 1200px; height: 314px; margin:0; padding:0;}
	
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script language="JavaScript">
		
			$(document).ready(function() {
				var $banner = $(".banner").find("ul");
		
				var $bannerWidth = $banner.children().outerWidth();//이미지의 폭
				var $bannerHeight = $banner.children().outerHeight(); // 높이
				var $length = $banner.children().length;//이미지의 갯수
				var rollingId;
		
				//정해진 초마다 함수 실행
				rollingId = setInterval(function() { rollingStart(); }, 3000);//다음 이미지로 롤링 애니메이션 할 시간차
			
				function rollingStart() {
					$banner.css("width", $bannerWidth * $length + "px");
					$banner.css("height", $bannerHeight + "px");
					//alert(bannerHeight);
					//배너의 좌측 위치를 옮겨 준다.
					$banner.animate({left: - $bannerWidth + "px"}, 1500, function() { //숫자는 롤링 진행되는 시간이다.
						//첫번째 이미지를 마지막 끝에 복사(이동이 아니라 복사)해서 추가한다.
						$(this).append("<li>" + $(this).find("li:first").html() + "</li>");
						//뒤로 복사된 첫번재 이미지는 필요 없으니 삭제한다.
						$(this).find("li:first").remove();
						//다음 움직임을 위해서 배너 좌측의 위치값을 초기화 한다.
						$(this).css("left", 0);
						//이 과정을 반복하면서 계속 롤링하는 배너를 만들 수 있다.
					});
				}
			}); 
		//-->  
		</script>
		
		</head>


<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>셀폰 - 중고 휴대폰 개인 거래</title>

 		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="/electro/css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="/electro/css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="/electro/css/slick-theme.css"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="/electro/css/nouislider.min.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="/electro/css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="/electro/css/style.css"/>

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><div style="color:white">셀폰 - 중고 휴대폰 개인 거래</div></li>
					</ul>
					<ul class="header-links pull-right">
						<% if( user == null) { %>
							<li><a href="/sellphone/login">로그인</a></li>
							<li><a href="/ask_list">문의사항</a></li>
						<% } else { %>
							<form action="/sellphone/logout" method="post">
								<li><button style="border:0; outline:0; background-color: #1E1F29;color:white;" type = "submit">로그아웃</button></li>
								<li><a href="/ask_list">문의사항</a></li>
							</form>
						<% } %>	
               </ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="/sellphone/home" class="logo">
									<img src="/electro/img/my_logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form action="/sellphone/search" method="post" onsubmit="return onWriteSubmit()">
									<select name="category" class="input-select">
										<option value="ALL">ALL</option>
										<option value="Samsung">SAMSUNG</option>
										<option value="Apple">APPLE</option>
										<option value="LG">LG</option>
										<option value="기타">ETC</option>
									</select>
									<input name="target" class="input" placeholder="HnB">
									<button type="submit" class="search-btn">Search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<div>
									<% if( user == null) { %>
										<a href="/sellphone/login">
											<i class="fa fa-pencil-square-o"></i>
											<span>상품등록</span>
										</a>
									<% } else if(user!=null && user[0].customer_kind == 1) { %>
									
											<a href="/sellphone/member_manage">
												<i class="fa fa-users"></i>
												<span>회원관리</span>
											</a>
										
									<% } else { %>
										<a href="/sellphone/sell">
											<i class="fa fa-pencil-square-o"></i>
											<span>상품등록</span>
										</a>
									<% } %>
								</div>
								<!-- /Wishlist -->

								<!-- MyPage -->
								<div>
								
									<% if( user == null) { %>
										<a href="/sellphone/login" class="dropdown-toggle" aria-expanded="true">  <!-- data-toggle="dropdown"-->
											<i class="fa fa-user-o"></i>
											<span>마이페이지</span>
										</a>
									<% } else if(user!=null && user[0].customer_kind == 1) { %>
								
										<a href="/sellphone/ask_list">
											<i class="fa fa-question-circle-o"></i>
											<span>문의사항</span>
										</a>
									<% } else { %>
										<a href="/sellphone/mypage" class="dropdown-toggle" aria-expanded="true">  <!-- data-toggle="dropdown"-->
											<i class="fa fa-user-o"></i>
											<span>마이페이지</span>
										</a>
									<% } %>
								</div>
								<!-- /MyPage -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- 1170 * 400 -->
					<div class="banner">
                        <ul>
                            <li><img src="/electro/img/img3_200305.jpg" width="100%" height="100%"></li>
							<li><img src="/electro/img/img2_200305.jpg" width="100%" height="100%"></li>
							<li><img src="/electro/img/img1_200305.jpg" width="100%" height="100%"></li>
                        </ul>
                    </div>	
					 
					<!-- STORE -->
					<div id="store" class="col-md-12">
						<!-- store products -->
						<input type="hidden" value="<%=product%>" id='html_product'/>
						<div id='product_list'></div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<ul class="store-pagination">
								<input type="hidden" value="<%=page%>" id='html_page'/>
								<div id='page_list'></div>
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>Seoul, Korea</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>02-0000-0000</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>HnB@gmail.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<li><a href="/sellphone/search/?q=&page=1&category=Samsung&order=date">Samsung</a></li>
								<li><a href="/sellphone/search/?q=&page=1&category=Apple&order=date">Apple</a></li>
								<li><a href="/sellphone/search/?q=&page=1&category=LG&order=date">LG</a></li>
								<li><a href="/sellphone/search/?q=&page=1&category=기타&order=date">ETC</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Service</h3>
							<ul class="footer-links">
								<li><a href="/intro">사이트 소개</a></li>
								<li><a href="/announcement">공지사항</a></li>
								<li><a href="/ask_list">문의사항</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">My Menu</h3>
							<ul class="footer-links">
								<% if( user == null) { %>
									<li><a href="/sellphone/login" class="dropdown-toggle" aria-expanded="true">마이페이지</a></li>  <!-- data-toggle="dropdown"-->
									<li><a href="/sellphone/login" class="dropdown-toggle" aria-expanded="true">상품등록</a></li>  <!-- data-toggle="dropdown"-->
								<% } else if(user!=null && user[0].customer_kind == 1) { %>
									<li><a href="/sellphone/member_manage">회원관리</a></li>
									<li><a href="/sellphone/ask_list">문의사항</a></li>
								<% } else { %>
									<li><a href="/sellphone/mypage" class="dropdown-toggle" aria-expanded="true">마이페이지</a></li>  <!-- data-toggle="dropdown"-->
									<li><a href="/sellphone/sell" class="dropdown-toggle" aria-expanded="true">상품등록</a></li>  <!-- data-toggle="dropdown"-->
								<% } %>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy HnB
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
					</div>
				</div>
					<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="/electro/js/jquery.min.js"></script>
		<script src="/electro/js/bootstrap.min.js"></script>
		<script src="/electro/js/slick.min.js"></script>
		<script src="/electro/js/nouislider.min.js"></script>
		<script src="/electro/js/jquery.zoom.min.js"></script>
		<script src="/electro/js/main.js"></script>

		<script>
			var html_product = document.getElementById('html_product').value;
			var product_list = document.getElementById('product_list');
			
			product_list.innerHTML = html_product;

			var html_page = document.getElementById('html_page').value;
			var page_list = document.getElementById('page_list');
			
			page_list.innerHTML = html_page;
			
		</script>
	</body>
</html>
