<style>
   .out{
      width:100%;
          text-align: center;
   }
   .in{
      display:inline-block;
        text-align: center;
          width:30%
   }
   </style>
   
   <html lang="en">
      <head>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   
         <title>HnB - JoinForm</title>
   
         <!-- Google font -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
   
            <!-- Bootstrap -->
            <link type="text/css" rel="stylesheet" href="/electro/css/bootstrap.min.css"/>
   
            <!-- Slick -->
            <link type="text/css" rel="stylesheet" href="/electro/css/slick.css"/>
            <link type="text/css" rel="stylesheet" href="/electro/css/slick-theme.css"/>
   
            <!-- nouislider -->
            <link type="text/css" rel="stylesheet" href="/electro/css/nouislider.min.css"/>
   
            <!-- Font Awesome Icon -->
            <link rel="stylesheet" href="/electro/css/font-awesome.min.css">
   
            <!-- Custom stlylesheet -->
            <link type="text/css" rel="stylesheet" href="/electro/css/style.css"/>
         <script src="http://code.jquery.com/jquery-latest.js"></script>
   
         <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
         <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
         <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
           <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
         <![endif]-->
       </head>
      <body>
         <header>
            <div id="header">
                  <div class="row text-center">
                           <a style="color:white; font-size:4em;" class="logo" href="/sellphone/home">#SellPhone</a>
                     </div>
                  </div>
         </header>
   
         <nav id="navigation">
         </nav>
   
   
     <form action="/sellphone/joinform" method="post" onsubmit="return onWriteSubmit()">
               <div class="row out">
                  <div class="in">
                     <!-- Billing Details -->
                     <div class="billing-details">
                        <div class="section-title">
                        </div>
                        <div class="form-group">
                           <input class="input" type="text" name="customer_id" id="customer_id" placeholder="아이디" required/>
                        </div>
   
                        <div class="form-group">
                           <input class="input" type="password" name="customer_pw" id="customer_pw" placeholder="비밀번호" required/>
                        </div>
                        <div class="form-group">
                           <input class="input" type="password" name="customer_pw_check" id="customer_pw_check" placeholder="비밀번호 재확인"/>
                        </div>
   
                        <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
                        <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>
   
                        <div class="form-group">
                           <input class="input" type="text" name="customer_email" id="customer_email" placeholder="이메일" required/>
                        </div>
   
                        <div class="form-group">
                           <input class="input" type="text" name="customer_name" id="customer_name" placeholder="이름" required/>
                        </div>
                        <div class="form-group">
                           <input class="input" type="text" name="customer_address" id="customer_address" placeholder="주소" required/>
                        </div>
   
                        <div class="form-group">
                           <input class="input" type="text" name="customer_phone" id="customer_phone" placeholder="전화번호" required/>
                        </div>
   
                        <div class="form-group">
                           <select class="input" type="text" name="sex" placeholder="성별" required>
                              <option value selected>성별</option>
                              <option value="M">남자</option>
                              <option value="F">여자</option> </select>
                        </div>
   
                        <div class="product-details">
                           <div class="add-to-cart">
                              <button  type="submit" class="add-to-cart-btn"><i class="fa fa-check"></i>확인</button>
                           </div>
                        </div>
   
                     </div>
   
            </div>
         </div>
      </form>
       	<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>Seoul, Korea</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>02-0000-0000</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>HnB@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									<li><a href="#">Samsung</a></li>
									<li><a href="#">Apple</a></li>
									<li><a href="#">LG</a></li>
									<li><a href="#">기타</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="/intro">사이트 소개</a></li>
									<li><a href="/announcement">공지사항</a></li>
									<li><a href="/ask_list">문의사항</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">My Menu</h3>
								<ul class="footer-links">
									<li><a href="/mypage">마이페이지</a></li>
									<li><a href="/sell">상품등록</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy HnB
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->
   
         <script src="js/jquery.min.js"></script>
         <script src="js/bootstrap.min.js"></script>
         <script src="js/slick.min.js"></script>
         <script src="js/nouislider.min.js"></script>
         <script src="js/jquery.zoom.min.js"></script>
         <script src="js/main.js"></script>
   
   
         <script>
           $(function(){
             $("#alert-success").hide();
             $("#alert-danger").hide();
             $("input").keyup(function(){
               var pwd1=$("#customer_pw").val();
               var pwd2=$("#customer_pw_check").val();
               if(pwd1 != "" || pwd2 != ""){
                 if(pwd1 == pwd2){
                   $("#alert-success").show();
                   $("#alert-danger").hide();
                   $("#submit").removeAttr("disabled");
                 }
                 else{
                   $("#alert-success").hide();
                   $("#alert-danger").show();
                   $("#submit").attr("disabled", "disabled");
                 }
               }
             });
           });
   
               function onWriteSubmit(){
                     if ( $("#customer_pw").val() != $("#customer_pw_check").val()){
                       var message = "비밀번호를 확인해주세요";
                       $("#customer_pw_check").val("");
                       $("#customer_pw_check").focus();
                       alert(message);
                       return false;
                     }
   
                     if ( $("#customer_id").val().trim() == "" ){
                           var message = "아이디를 입력해주세요";
                           $("#customer_id").val("");
                           $("#customer_id").focus();
                           alert(message);
                           return false;
                     }
   
                     if ( $("#customer_pw").val().trim() == "" ){
                           var message = "비밀번호를 입력해주세요";
                           $("#customer_pw").val("");
                           $("#customer_pw").focus();
                           alert(message);
                           return false;
                     }
   
                     if ( $("#customer_email").val().trim() == "" ){
                           var message = "이메일을 입력해주세요";
                           $("#customer_email").val("");
                           $("#customer_email").focus();
                           alert(message);
                           return false;
                     }
   
                     if ( $("#customer_name").val().trim() == "" ){
                           var message = "이름을 입력해주세요";
                           $("#customer_name").val("");
                           $("#customer_name").focus();
                           alert(message);
                           return false;
                     }
   
                     if ( $("#customer_address").val().trim() == "" ){
                           var message = "주소를 입력해주세요";
                           $("#customer_address").val("");
                           $("#customer_address").focus();
                           alert(message);
                           return false;
                     }
   
                     if ( $("#customer_phone").val().trim() == "" ){
                           var message = "번호를 입력해주세요";
                           $("#customer_phone").val("");
                           $("#customer_phone").focus();
                           alert(message);
                           return false;
                     }
               }
   
         </script>
      </body>
   </html>
